@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
}
html {
  width: 100vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  min-width: 100vh;/*继承宽度*/
  min-height: 100vh;
  overflow: hidden;/*超出隐藏，改scroll*/
  background-color: black;
  background-image: url("../background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
	background-size: cover;
  background-clip: border-box;
}