* {/*默认css样式*/
  padding: 0px;
  margin: 0px;
  border: 0px;/**/
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  background-clip: padding-box;/*背景图像在线框范围内*/
  background-origin: padding-box;/*背景图像的相对位置，线框内侧*/   
  overflow: auto;/*hidden超出隐藏，改scroll则加滚轮*/ 
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;/*字体设置大小，单位rem,即是这里的倍数*/
  list-style: none;
  text-decoration: none;
  text-align: center;
  transition: all .5s;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
body {
  background-image: url("https://zhengxie.info/common/image/background.jpg");
  width: 100vw;/*等于屏幕的高度*/
  height: 100vh;/*等于屏幕的高度*/
  overflow-x: hidden;

}
article {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  top: 0vh;
}
#homeleftbar{
  background:#063146;
  left: -100vw;
}
#homemater{  
  background: none;
  left: 0vw;
}
#homeleftbar header{
  height: 10vh;
  background: #042331;
}
#homemater header{
  height: 10vh;
  background: none;
}
label {
  cursor: pointer;
  display: block;
  background: white;  
  width: 10vmin;
  height: 10vmin;  
}
#checkleftbar:checked ~ #homeleftbar{
  left: 0vw;
}
#checkleftbar:checked ~ #homemater{
  left: 100vw;
}
h1 {
  color: aliceblue;
  background: none;
  background-color: none;
  border-bottom: 1px solid black;
  font-size: 2rem;
}
a {
  color: aliceblue;
  background: none;
  background-color: none;
  font-size: 2rem;
}
div {
  background: none;
  background-color: none;
}
section {
  background: none;
  background-color: none;
}


