.manor {background: none;}
  .entrance {/*入口*/background: none;}
    #plaque {/*<!--匾额-->*/    
      display: flex;
      align-items: center;
      justify-content:center;}
      #plaque .text table {/*匾额字体*/
        border-collapse:collapse;/*显示边框*/
        text-align: center; 
        vertical-align:middle !important; 
        padding: 0;}
        #plaque .text table tr{
          text-align: center; 
          vertical-align:middle !important;
          padding: 0;}
          #plaque .text table tr.mid { 
            border-top: 1px solid rgba(253,118,35,1); 
            border-bottom: 1px solid rgba(253,118,35,1);}   
          #plaque .text table tr td {
            text-align: center; 
            vertical-align:middle !important;
            padding: 0;
            font-size: 2rem;
            color: rgba(253,118,35,1);}
          #plaque .text table tr td.tb {
            text-align: justify;
            text-align-last: justify;
            font-size: 1rem;}  
          #plaque .text table tr td.mid {
            font-size: 1rem;
          }
    .indicator {/*指示牌*/
      width: 100%;
      max-width: 100vw;
      overflow-x: hidden;
      display: flex;
      align-items: center;
      justify-content:center;
      background-color: rgba(244,241,237,0.6);
      border-top: 1px solid rgba(244,241,237,1);
      border-bottom: 1px solid rgba(244,241,237,1);}
      .indicator > div {
        text-align: center;
        min-width: 12.5%;
        max-width: 24%; 
        width: 88px;
        line-height: 2.5rem;}
        .indicator > div a {
          color: rgba(3,2,4,1);
          text-decoration: none;
        }
  .cellar {/*地窖*/background: none;}

  .cellar > div.main {/*地窖主体*/
    padding-left: 19.1%;
    padding-right: 19.1%;
    width: 200%;
    max-width: 100%;
    background: darkorchid;
  }

 
  .treasure {/*宝藏*/background: none;}
    .support {/*文档*//*知乎建站日志*//*版本说明*/
      line-height: 2rem;   
      margin: 0 auto;
      color:  rgba(244,241,237,1);
      background-color: rgba(3,2,4,0.6);
      text-align: center;}
      .support a {/*文档*//*知乎建站日志*//*版本说明*/
        color:  rgba(244,241,237,1);
        text-decoration: none;
      }

      input[type="checkbox"] {display: none;}
      input:checked + div {/*隐藏table初始化*/
        display: none;}  
        input:checked + div label:before {/*隐藏table初始化*/
          display: block;}  
          input:checked + div label:after {/*隐藏table初始化*/
            display: none;}  
       label {/*控制标签*/
        display: block;
        color:rgba(243,215,55,1);
        cursor: pointer;
       }





  @media only screen and (min-width: 450px){
  .entrance {display: flex;}
    #plaque {min-width: 38.2vw;}
  .cellar {/*地窖*/display: flex;}
}




  /*



      

*/