html{
  margin: 0; padding: 0; border: 0;
  overflow-x: hidden; overflow-y: scroll;
  display: flex; align-items: center; justify-content:center;  
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(244,241,237,1);
  background-image: url(../image/background.jpg);  
  /* background-image: url(https://api.ixiaowai.cn/api/api.php); */
  /* 小歪API */
}
body {margin: 0; padding: 0; border: 0; width: 100%; height: 100%; overflow: hidden;
}
header {background-color: rgba(130,36,30,1); align-items: center; justify-content:center;}
  div.plaque {width: 100%; display: flex; align-items: center; justify-content:center;}
    table.plaque {border-collapse: collapse;/* 显示边框 */}
    td.logo {
      width: 5rem;
      height: 5rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../image/favicon.ico);}
    table.plaque * {
      margin: 0; padding: 0; border: none;
      text-align: center;
      vertical-align:middle !important;
      color: rgba(243,215,55,1);}
    td.logo + td {text-align: justify; text-align-last: justify;}
    tr.mid {font-size: 2rem; font-weight: bolder; border-top: 1px solid rgba(244,241,237,1); border-bottom: 1px solid rgba(244,241,237,1);}
    td.mid {font-size: 1rem; font-weight: normal; color: rgba(244,241,237,1);}
  div.menu {width: 100%; display: flex; align-items: center; justify-content:center;}
    table.menu {
      width: 100%;
      border-collapse: collapse;/* 显示边框 */
      font-size: 1.25rem;
      line-height: 2rem;
      margin-top: 4px;
      margin-bottom: 4px;}
    table.menu * {
      margin: 0; padding: 0; border: none;
      text-align: center;
      vertical-align:middle !important;            
      text-decoration: none;
      width: 25%;
      color: rgba(244,241,237,1);}
    .menu tr {border-top: 1px solid rgba(244,241,237,1); border-bottom: 1px solid rgba(244,241,237,1);
}
footer {width: 100%;}
  footer > div {display: flex; align-items: center; justify-content:center; text-align: center;
    color: rgba(244,241,237,1);
    background-color: rgba(37,86,122,1);}
  footer a {
    color: rgba(244,241,237,1);
    text-decoration: none;
}
main {width: 100%; display: flex; align-items: center; justify-content:center;}
  article {width: 100%; min-height: calc(100vh - 149px); margin: auto; background-color: rgba(244,241,237,0.8);}
    article h1, article h2, article h3, article h4, article h5, article h6, article p {color: rgba(3,2,4,1);
}
main.bookmark div.bookmark {margin: 0;}
  div.bookmark input[type="checkbox"] {/*隐藏复选框*/display: none;}
  div.bookmark input:checked + div {/*隐藏div初始化*/display: none;}
  div.bookmark label {/*控制标签*/
    margin: 0;
    display: block;
    color:rgba(243,215,55,1);
    background-color: rgba(3,2,4,0.6);
    border-bottom: 1px solid rgba(130,36,30,1);
    cursor: pointer;
    font-size: 1.25rem;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 1rem;}
  div.bookmark .content {
    background-color: rgba(244,241,237,0);
    width: 100%; 
    display: flex;
    flex-wrap: wrap;}
  div.bookmark span {
    margin: 6px;
    padding: 6px;    
    color: rgba(244,241,237,1);
    background-color: rgba(37,86,122,1);}
  div.bookmark a {/*列标签*/
    text-decoration: none;
    color: rgba(3,2,4,1);
    margin: 6px;
    padding: 6px;    
    border-left: 1px solid rgba(37,86,122,1);
}/* main.bookmark书签专属 */
main.unit article > * {margin-left: 1rem; margin-right: 1rem;}
  main.unit article section {padding-left: 1rem; padding-right: 1rem;}
  main.unit article h6 {margin-top: 3px; margin-bottom: 3px;}
  main.unit code {
    color: rgba(244,241,237,1);
    overflow: auto;
    background-color: rgba(3,2,4,1);
    display: block;
    max-height: 38.2vh;
} /* main.unit信息专属 */
main.base article > * {margin-left: 1rem; margin-right: 1rem;}
  main.base h1 {text-align: center;
}/* main.base基础专属 */
main.homepage article > * {margin-left: 1rem; margin-right: 1rem;}
  main.homepage h1 {text-align: center;}
  main.homepage table.unit td + td {width: 100%;}
  main.homepage table.unit td {
    color: rgba(244,241,237,1);
    background-color: rgba(37,86,122,1);
    padding-top: 3px;
    padding-bottom: 3px;}  
    main.homepage table.unit a {
    text-decoration: none;
    color: rgba(244,241,237,1);
}/* main.homepage目录专属 */
@media only screen and (min-width: 699px){
/* @media only screen and (orientation : landscape) {横屏(orientation : landscape)} */
/* @media only screen and (orientation : portrait) {竖屏(orientation : portrait)} */
  header {display: flex;}
    .menu {min-width: 61.8%;}
  article {width: 61.8%; min-height: calc(100vh - 105px);}
}



.support {display: flex; align-items: center; justify-content:center; text-align: center;
  color: rgba(244,241,237,1);
  background-color: rgba(37,86,122,1);}
  .support a {
    color: rgba(244,241,237,1);
    text-decoration: none;
}