body {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(1, 61, 26, 0.5);
  background-image: url(https://api.ixiaowai.cn/api/api.php);
  /* 小歪API */
  /* background-image: url(../image/background.jpg); */
}
header {background-color: rgba(130,36,30,1); align-items: center; justify-content:center;}
  div.plaque {width: 100%; display: flex; align-items: center; justify-content:center;}
    table.plaque {border-collapse: collapse;/* 显示边框 */}
    td.logo {
      width: 5rem;
      height: 5rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../image/favicon.ico);}
    table.plaque * {
      margin: 0; padding: 0; border: none;
      text-align: center;
      vertical-align:middle !important;
      color: rgba(243,215,55,1);}
    td.logo + td {text-align: justify; text-align-last: justify;}
    tr.mid {font-size: 2rem; font-weight: bolder; border-top: 1px solid rgba(244,241,237,1); border-bottom: 1px solid rgba(244,241,237,1);}
    td.mid {font-size: 1rem; font-weight: normal; color: rgba(244,241,237,1);}
  div.menu {width: 100%; display: flex; align-items: center; justify-content:center;}
    table.menu {
      width: 100%;
      border-collapse: collapse;/* 显示边框 */
      font-size: 1.25rem;
      line-height: 2rem;
      margin-top: 4px;
      margin-bottom: 4px;}
    table.menu * {
      margin: 0; padding: 0; border: none;
      text-align: center;
      vertical-align:middle !important;            
      text-decoration: none;
      width: 25%;
      color: rgba(244,241,237,1);}
    .menu tr {border-top: 1px solid rgba(244,241,237,1); border-bottom: 1px solid rgba(244,241,237,1);}
.central {width: 100%; display: flex; align-items: center; justify-content:center;}
  main {width: 100%;}
    main article {
      padding: 16px;
      background-color: rgba(244,241,237,0.8);
    }
    article h1 {text-align:center; color: rgba(3,2,4,1);}
    article h2 {color: rgba(3,2,4,1);}
    article h3 {color: rgba(3,2,4,1);}
    article h6 {color: rgba(3,2,4,1); margin: 3px;}
    article p {
      text-indent: 2rem;
      color: rgba(3,2,4,1);
    }
footer {width: 100%;}
.support {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:center;
  color: rgba(244,241,237,1);
  background-color: rgba(37,86,122,1);}
  .support a {
    color: rgba(244,241,237,1);
    text-decoration: none;
  }
.bookmark {width: 100%;}
.bookmark input[type="checkbox"] {/*隐藏复选框*/display: none;}
.bookmark input:checked + table {/*隐藏table初始化*/display: none;}
.bookmark label {/*控制标签*/
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;    
  display: block;
  color:rgba(243,215,55,1);
  cursor: pointer;
  border-bottom: 1px solid rgba(130,36,30);
  background-color: rgba(3,2,4,0.6);
}
.bookmark table {/*表格*/
  width: 100%;
  background-color: rgba(244,241,237,0.6);}
  .bookmark td{/*表格列*/
    text-align: center;
    border-bottom: 1px solid rgba(130,36,30,1);}
  .bookmark td[colspan="3"] {text-align: left;}
  .bookmark table a {/*列标签*/
    text-decoration: none;
    color: rgba(3,2,4,1);
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
  }
.tag {
  font-weight: bolder;
  color: rgba(244,241,237,1);
  background-color: rgba(253,118,35,1);
  padding: 6px;
  line-height: 1.5rem;
}
  .tag a {
    font-weight: bolder;
    text-decoration: none;
    margin: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: rgba(253,118,35,1);
    background-color: rgba(244,241,237,1);
  }
@media only screen and (min-width: 688px){
  header {display: flex;}
    .menu {min-width: 61.8%;}
  main {max-width: 61.8%;}
}