html {
  font-size: 16px;
}
body {
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
}
.basement {
  width: 100%;
  min-height: 100%;
  background-image: url(https://api.ixiaowai.cn/api/api.php);
  /*动态托管，可换为自己的图片链接 url(./common/api/image.php) */
  background-color: rgba(3,2,4,1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.basement .stair {
  width: 100%;
  background: rgba(130,36,30,0.3);
}
.basement .room {
  width: 100%;
  background: rgba(243,215,55,0.3);
}
.stair .entrance {
  text-align: center;
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  background: rgba(130,36,30);
}
.stair .entrance a{    
    color: rgba(243,215,55);
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 1px;
}
.stair .f1 {
  background-color: rgba(3,2,4,1);
  color:  rgba(244,241,237,1);
  text-align: center;
  height: 5vh;
  line-height: 5vh;
}
table {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  width: 100%;
  background: rgb(244,241,237);
  border-bottom: 1px solid rgba(130,36,30);
}
table tr td{
  border-bottom: 1px solid rgba(130,36,30);
}
table tr td a {
  text-decoration: none;
  color: rgb(3,2,4);
}
input[type="checkbox"] {
  display: none;
}
label {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;    
  display: block;
  color:rgb(243,215,55);
  cursor: pointer;
  border-bottom: 1px solid rgba(130,36,30);
}
#checktable:checked ~ .checktable {
  display: none;
}
#checktable1:checked ~ .checktable1 {
  display: none;
}
#checktable2:checked ~ .checktable2 {
  display: none;
}
#checktable3:checked ~ .checktable3 {
  display: none;
}
#checktable4:checked ~ .checktable4 {
  display: none;
}
#checktable5:checked ~ .checktable5 {
  display: none;
}
#checktable6:checked ~ .checktable6 {
  display: none;
}
.treasure {
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 768px){
  .basement {
    display: flex;
  }
  .basement .stair {
    width: 38.2%;
  }
  .basement .room {
    width: 61.8%;
    float: right;
  } 
}
