body {margin: 0;}
.manor {/*庄园*/
  margin: 0; padding: 0; border: 0;
  min-width: 100%; max-width: 100%; overflow-x: hidden;
  min-height: 100%; max-height: 100%; overflow-y: scroll;
  background-color: rgba(244,241,237,1);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /*background-image: url(../image/background.jpg);*/
  background-image: url(https://api.ixiaowai.cn/api/api.php);/*小歪API*/}
  .entrance {/*入口*/min-width: 100%; max-width: 100%; overflow-x: hidden;}
    #plaque {/*<!--匾额-->*/
      display: flex; align-items: center; justify-content:center;/*div的子div居中*/
      background-color: rgba(130,36,30,0.6);}
      #plaque .text {background-color: rgba(130,36,30,0.6);}
      #plaque .text table {/*匾额字体*/
        border-collapse:collapse;/*显示边框*/
        text-align: center; vertical-align:middle !important; padding: 0;/*单元格居中*/}
        #plaque .text table tr{text-align: center; vertical-align:middle !important; padding: 0;/*单元格居中*/}
          #plaque .text table tr.mid { 
            border-top: 1px solid rgba(244,241,237,1); 
            border-bottom: 1px solid rgba(244,241,237,1);}   
          #plaque .text table tr td {
            text-align: center; vertical-align:middle !important; padding: 0;/*单元格居中*/
            font-size: 2rem;
            color: rgba(243,215,55,1);}
          #plaque .text table tr td.tb {
            text-align: justify; text-align-last: justify;/*两端对齐*/
            font-size: 1rem;
            color: rgba(244,241,237,1);}
          #plaque .text table tr td.mid {
            font-size: 1rem;
            color: rgba(244,241,237,1);}
    .indicator {/*指示牌*/
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      display: flex; align-items: center; justify-content:center;/*div的子div居中*/
      background-color: rgba(244,241,237,0.6);
      border-top: 1px solid rgba(253,118,35,1);
      border-bottom: 1px solid rgba(253,118,35,1);}
      .indicator > div {
        width: 100%;
        text-align: center;}
        .indicator > div a {
          color: rgba(3,2,4,1);
          text-decoration: none;}
  .cellar {/*地窖*/min-width: 100%; max-width: 100%; overflow-x: hidden;}
    .cellar .main {/*地窖主体*/width: 100%;}
      .main article {
        min-height: 100vh;
        background-color: rgba(244,241,237,0.6);
        padding: 32px;}
  .treasure {/*宝藏*/min-width: 100%; max-width: 100%; overflow-x: hidden;}
    .support {/*文档*//*版本测试*//*版本更新*/
      margin: 0 auto;
      padding-top: 3px;
      padding-bottom: 3px;      
      color:  rgba(244,241,237,1);
      background-color: rgba(3,2,4,0.6);
      text-align: center;}
      .support a {/*文档*//*版本测试*//*版本更新*/
        color:  rgba(244,241,237,1);
        text-decoration: none;}
@media only screen and (min-width: 450px){
  .entrance {display: flex;}
    #plaque {min-width: 38.2vw;}
  .cellar {/*地窖*/display: flex;}
}
  /*      

*/



  /*      
未使用
*/
input[type="checkbox"] {display: none;}
input:checked + div {/*隐藏table初始化*/
  display: none;}  
  input:checked + div label:before {/*隐藏table初始化*/
    display: block;}  
    input:checked + div label:after {/*隐藏table初始化*/
      display: none;}  
 label {/*控制标签*/
  display: block;
  color:rgba(243,215,55,1);
  cursor: pointer;
 }
