input[type="checkbox"] {/**/display: none;}
body {margin: 0;}
.building {/*wrapper*/
  max-width: 100%;
  min-height: 100%;
  background-color: rgba(244,241,237,1);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../common/image/background.jpg);
    /*背景图片*/}
.building .auxiliary {/*副楼*/background-color: rgba(130,36,30,1);}
.building .main {/*主楼*/background: none;}
.building .main .entrance {/*主楼入口*/min-width: 100%;}
  .building .main .entrance .title {/*标题*/text-align: center;}
    .building .main .entrance .title a {/*标题链接*/
      text-decoration: none;
      color: rgba(243,215,55,1);
      font-size: 3rem;
      line-height: 5rem;
      letter-spacing: 1px;}
.building .main .basement {/*主楼地下室*/min-width: 100%;}
  .building .main .basement .f1 {/*地下1层*/background: none;}
    .building .main .basement .f1 .r1 {/*1层1室*/background: none;}
    .building .main .basement .f1 .r2 {/*1层2室*/background: none;}
  .building .main .basement .f2 {/*快速访问*/background-color: none;} 
    .building .main .basement .f2 .r1 {/*快速访问*/background-color: none;}      
      .building .main .basement .f2 .r1 table {/*表格*/
          width: 100%;
          background-color: rgba(244,241,237,0.6);}
        .building .main .basement .f2 .r1 table tr td{/*表格列*/
          text-align: center;
          border-bottom: 1px solid rgba(130,36,30,1);}
          .building .main .basement .f2 .r1 table tr td a {/*列标签*/
          text-decoration: none;
          color: rgba(3,2,4,1);
          font-size: 1rem;
          height: 3rem;
          line-height: 3rem;}
  .building .main .basement .f3 {/*站内快链*/background-color: none;}
    .building .main .basement .f3 .r1 {/*站内快链*/background-color: none;}
      #f3r1table:checked ~ .f3r1table {/*关闭显示*/display: none;}  
      .building .main .basement .f3 .r1 label {/*控制开关*/
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;    
        display: block;
        color:rgba(243,215,55,1);
        cursor: pointer;
        border-bottom: 1px solid rgba(130,36,30);
        background-color: rgba(3,2,4,0.6);}
      .building .main .basement .f3 .r1 table {/*表格*/
        width: 100%;
        background-color: rgba(244,241,237,0.6);}       
        .building .main .basement .f3 .r1 table tr td{/*表格列*/
        text-align: center;
        border-bottom: 1px solid rgba(130,36,30,1);}
          .building .main .basement .f3 .r1 table tr td a {/*列标签*/
        text-decoration: none;
        color: rgba(3,2,4,1);
        font-size: 1rem;
        height: 3rem;
        line-height: 3rem;}
  .building .main .basement .f4 {/*常逛的个人博客*/background-color: none;}
  .building .main .basement .f4 .r1 {/*常逛的个人博客*/background-color: none;}
    #f4r1table:checked ~ .f4r1table {/*关闭显示*/display: none;}  
    .building .main .basement .f4 .r1 label {/*控制开关*/
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      font-size: 1.5rem;    
      display: block;
      color:rgba(243,215,55,1);
      cursor: pointer;
      border-bottom: 1px solid rgba(130,36,30);
      background-color: rgba(3,2,4,0.6);}
    .building .main .basement .f4 .r1 table {/*表格*/
      width: 100%;
      background-color: rgba(244,241,237,0.6);}       
      .building .main .basement .f4 .r1 table tr td{/*表格列*/
      text-align: center;
      border-bottom: 1px solid rgba(130,36,30,1);}
        .building .main .basement .f4 .r1 table tr td a {/*列标签*/
      text-decoration: none;
      color: rgba(3,2,4,1);
      font-size: 1rem;
      height: 3rem;
      line-height: 3rem;}
  .building .main .basement .f5 {/*网址收藏*/background-color: none;}
  .building .main .basement .f5 .r1 {/*网址收藏*/background-color: none;}
    #f5r1table:checked ~ .f5r1table {/*关闭显示*/display: none;}  
    .building .main .basement .f5 .r1 label {/*控制开关*/
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      font-size: 1.5rem;    
      display: block;
      color:rgba(243,215,55,1);
      cursor: pointer;
      border-bottom: 1px solid rgba(130,36,30);
      background-color: rgba(3,2,4,0.6);}
    .building .main .basement .f5 .r1 table {/*表格*/
      width: 100%;
      background-color: rgba(244,241,237,0.6);}       
      .building .main .basement .f5 .r1 table tr td{/*表格列*/
      text-align: center;
      border-bottom: 1px solid rgba(130,36,30,1);}
        .building .main .basement .f5 .r1 table tr td a {/*列标签*/
      text-decoration: none;
      color: rgba(3,2,4,1);
      font-size: 1rem;
      height: 3rem;
      line-height: 3rem;}
  .building .main .basement .f6 {/*博文收藏*/background-color: none;}
    .building .main .basement .f6 .r1 {/*博文收藏*/background-color: none;}
      #f6r1table:checked ~ .f6r1table {/*关闭显示*/display: none;}
      .building .main .basement .f6 .r1 label {/*控制开关*/
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;    
        display: block;
        color:rgba(243,215,55,1);
        cursor: pointer;
        border-bottom: 1px solid rgba(130,36,30);
        background-color: rgba(3,2,4,0.6);}
      .building .main .basement .f6 .r1 table {/*表格*/
        width: 100%;
        background-color: rgba(244,241,237,0.6);}     
        .building .main .basement .f6 .r1 table tr td{/*表格列*/
        border-bottom: 1px solid rgba(130,36,30,1);}
          .building .main .basement .f6 .r1 table tr td a {/*列标签*/
        text-decoration: none;
        color: rgba(3,2,4,1);
        font-size: 1rem;
        height: 3rem;
        line-height: 3rem;}
  .building .main .basement .f7 {/*博文收藏（英文）*/background-color: none;}
  .building .main .basement .f7 .r1 {/*博文收藏（英文）*/background-color: none;}
    #f7r1table:checked ~ .f7r1table {/*关闭显示*/display: none;}
    .building .main .basement .f7 .r1 label {/*控制开关*/
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      font-size: 1.5rem;    
      display: block;
      color:rgba(243,215,55,1);
      cursor: pointer;
      border-bottom: 1px solid rgba(130,36,30);
      background-color: rgba(3,2,4,0.6);}
    .building .main .basement .f7 .r1 table {/*表格*/
      width: 100%;
      background-color: rgba(244,241,237,0.6);}     
      .building .main .basement .f7 .r1 table tr td{/*表格列*/
      border-bottom: 1px solid rgba(130,36,30,1);}
        .building .main .basement .f7 .r1 table tr td a {/*列标签*/
      text-decoration: none;
      color: rgba(3,2,4,1);
      font-size: 1rem;
      height: 3rem;
      line-height: 3rem;}
.building .main .treasure {/*主楼宝藏*/min-width: 100%;}
  .building .main .treasure .support {/*技术支持*/
    min-width: 100%;
    color:  rgba(244,241,237,1);
    background-color: rgba(3,2,4,0.6);
    text-align: center;
    height: 5vh;
    line-height: 5vh;}
    .building .main .treasure .support a {/*技术支持*/
      color:  rgba(244,241,237,1);
      text-decoration: none;}
  .building .main .treasure .log {/*知乎建站日志*/
    min-width: 100%;
    background-color: rgba(3,2,4,0.6);
    text-align: center;
    height: 5vh;
    line-height: 5vh;} 
    .building .main .treasure .log a {/*知乎建站日志*/
      color:  rgba(244,241,237,1);
      text-decoration: none;}
  .building .main .treasure .version {/*版本说明*/
    min-width: 100%;
    background-color: rgba(3,2,4,0.6);
    color:  rgba(244,241,237,1);
    text-align: center;
    height: 5vh;
    line-height: 5vh;}
@media only screen and (min-width: 880px){
  .building .main .entrance .title {/*标题38.2%*/width: 38.2%; margin: 0;}
  .building .main .basement .f2 .r1 {/*快速访问 居中38.2%*/width: 38.2%; margin: 0 auto;}
  .building .main .basement .f3 .r1 {/*站内快链 居中38.2%*/width: 38.2%; margin: 0 auto;}
  .building .main .basement .f4 .r1 {/*常逛的个人博客 居中38.2%*/width: 38.2%; margin: 0 auto;}
  .building .main .basement .f5 .r1 {/*网址收藏 居中38.2%*/width: 38.2%; margin: 0 auto;}
  .building .main .basement .f6 .r1 {/*博文收藏 居中38.2%*/width: 38.2%; margin: 0 auto;}
  .building .main .basement .f7 .r1 {/*博文收藏（英文） 居中38.2%*/width: 38.2%; margin: 0 auto;}
}